/* TODO (davidg): css prop for MQ */
:root {
  --color-orange-100: #fff3e0;
  --color-gray-100: #eceff1;
  --color-gray-code: rgba(220,220,220,.5);
  --color-brown-800: #4e342e;
  --color-example: #827017;
  --color-warning: orange;
  --color-green: green;
  --shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --mint-green: #eeffee;
  --color-link--unvisited: #00C;
  --color-link--visited: #609;
  --indent: 40px;

  --panel-padding: 20px 30px;
  --panel-offset-horizontal: -200px;
  --panel-margin: 50px var(--panel-offset-horizontal);
  --panel-width: 1000px;
  --page-width: 600px;
}

@media screen and (min-width: 1550px) {
  html, /* for ECMA */
  html[lang] { /* for specificity */
    background: var(--color-orange-100);
  }

  html body {
    width: var(--page-width);
    margin: 0 auto !important;    /* override other styles on https://www.w3.org/TR/CSS */
    background: transparent;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 19px;
    color: var(--color-brown-800);
    line-height: 1.6;
  }

  html body li {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    line-height: 2 !important;
  }
}
