:root {
  --color-orange-100: #fff3e0;
  --color-gray-100: #eceff1;
  --color-gray-code: rgba(220,220,220,.5);
  --color-brown-800: #4e342e;
  --color-example: #827017;
  --color-warning: orange;
  --color-green: green;
  --shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --mint-green: #eeffee;
  --color-link--unvisited: #00C;
  --color-link--visited: #609;
  --indent: 40px;

  --body-text-width: 600px;
  --panel-width: 800px;
  --panel-offset-horizontal: -100px;
  --panel-margin: 50px -100px;
  --panel-padding: 20px 30px;
}

@media screen and (min-width: 1400px) {
  body:not(.toc-sidebar) {
    --panel-width: 1000px;
    /* TODO less repetition */
    --panel-offset-horizontal: -200px;
    --panel-margin: 50px -200px;
  }
}

@media screen and (min-width: 1600px) {
  body.toc-sidebar {
    --panel-width: 1000px;
    --panel-offset-horizontal: -200px;
    --panel-margin: 50px -200px;
  }
}

html, /* for ECMA */
html[lang] { /* for specificity */
  background: var(--color-orange-100);
}

html body {
  background: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 19px;
  color: var(--color-brown-800);
}

* {
  line-height: 1.6 !important; /* Override https://www.w3.org/TR/2017/REC-wai-aria-1.1-20171214/ */
}

html body li {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  line-height: 2 !important;
}

/* format code in inline text, not in blocks */
html body code:not(.idl):not(.html):not(.abnf) {
  padding: 2px 6px;
  margin: 0;
  font-size: 85%;
  color: var(--color-brown-800);
  background-color: var(--color-gray-code);
  border-radius: 3px;
  font-weight: normal;
}

@media screen and (min-width: 1400px) {
  html body {
    width: var(--body-text-width);
    margin: 0 auto !important;    /* override other styles on https://www.w3.org/TR/CSS */
    padding: 0;
  }
}
