@media screen and (min-width: 1400px) {
  html body {
    width: var(--body-text-width);
  }

  html body pre {
    font-size: 16px;
  }
  html body h4 + .element,
  html body h4 + div.status + .element {
    margin-top: unset;
  }

  html body code.idl {
    background: var(--color-gray-100);
  }

  html body code :link {
    color: var(--color-brown-800);
    text-decoration: underline;
  }

  html body code :visited {
    color: var(--color-link--visited);
  }

  html body code :hover {
    text-decoration: underline;
  }

  html body .warning::before,
  html body .note::before,
  html body .domintro::before,
  html body .example::before {
    position: static;
    transform: none;
    background: none;
    text-transform: uppercase;
    display: block;
    color: inherit;
  }

  /* The browser support blocks */
  html body .status {
    position: relative;
    min-width: 300px;
    width: auto;
    margin: 50px;
    padding: var(--panel-padding);
    background: white;
    border-radius: 0;
    box-shadow: var(--shadow);
    font: inherit;
  }

  html body .status p {
    font-size: 16px;
  }

  html body .status input[value="⋰"] {
    display: none;
  }

  html body .brief {
    line-height: 1.6; /* https://html.spec.whatwg.org/multipage/canvas.html#the-canvas-state */
  }
}
